# Keys
*.pem
*.pub
*.key
*.cert
*.crt
*.csr
*.srl
*.combined


# dirs
opt/local/sbin
opt/local/etc/openssl
opt/local/etc/apache/extra
opt/local/etc/apache/original
opt/local/etc/apache/vhosts/*.conf
opt/local/etc/php/fpm.d/*.conf


