# Keys
*.pem
*.pub
*.key
*.cert
*.crt
*.csr
*.srl
*.combined
*.pwd


# dirs
opt/local/sbin
opt/local/etc/openssl
opt/local/etc/httpd/extra
opt/local/etc/httpd/original
opt/local/etc/httpd/vhosts/*.conf
opt/local/etc/php/fpm.d/*.conf
